<mat-card>
    <form (submit)="addBlog(submitForm)" #submitForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" ngModel required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please Enter Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="5" name="content"ngModel required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please Enter Content</mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button type="submit">Add Blog</button>
    </form>
</mat-card>
